# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/*

# added automatically by precommit-hook as defaults
.jshint*

# VS Code
/.vscode/
/.vs/
