.orderId {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.orderOperation {
    padding-bottom: 10px;
}

:global(.box-footer .col-md-4) {
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    .orderOperation {
        padding-bottom: 0;
    }
    :global(.box-footer .col-md-4) {
        margin-bottom: 0;
    }
}

.track {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.track span {
    display: inline-block;
    width: 130px;
    text-align: right;
}